{%- case settings.review_app -%}
	{%- when 'shopify' -%}
		{%- if type == 'badge' -%}
			<div class="rating-links" id="product-review-badge">
				<div class="rating-inner"><div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div></div>
			</div>
		{%- else -%}
		  	<div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
		{%- endif -%}

	{%- when 'loox' -%}
		{% comment %}
			Include files:
			+ sections/loox-all-reviews.liquid
			+ sections/loox-carousel-reviews.liquid
			+ templates/page.loox-all-reviews.liquid
		{% endcomment %}

		{%- if type == 'badge' -%}
			<div class="rating-links" id="product-review-badge">
				<div class="rating-inner">
					<div class="loox-rating" data-fetch data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
				</div>
			</div>
		{%- else -%}
			<div id="looxReviews" data-product-id="{{ product.id }}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>
		{%- endif -%}

	{%- when 'judge' -%}
		{%- if type == 'badge' -%}
			<div class="rating-links" id="product-review-badge">
				<div class="rating-inner">
					<div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'>{{ product.metafields.judgeme.badge }}</div>
				</div>
			</div>

		{%- else -%}
			<div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-id='{{ product.id }}'>
				{{ product.metafields.judgeme.widget }}
			</div>
		{%- endif -%}
{%- endcase -%}