{%- form 'customer', id: 'ContactFooter',class: 'subscribe-form' -%}
  <input type="hidden" name="contact[tags]" value="newsletter">
  <div class="newsletter-form__field-wrapper">
    <div class="field{% if form.posted_successfully? %} d-none{% endif %}">
      <input type="email" name="contact[email]" placeholder="{{ placeholder }}" aria-label="{{ placeholder }}" aria-required="true" autocorrect="off" autocapitalize="off" required>
      <button type="submit" class="btn btn-{{ button_style }}" name="subscribe">
        <span class="btn-text">{{ 'general.button.subscribe' | t }}</span>
      </button>
    </div>

    {%- if form.posted_successfully? -%}
      <div class="field newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success">
        <span>{{ success }}</span>
      </div>
    {%- endif -%}
  </div>
{%- endform -%}